In [1]:
import pandas as pd
import numpy as np

In [2]:
df=pd.read_csv(r'/home/mathi/Downloads/Players.csv')
df.head(10)

/tmp/ipykernel_3329/322896858.py:1: DtypeWarning: Columns (9,16,20,21,22,24,25,26,27,28,29,30,31,32,45,46,59,60,73,74,87,88,90,91,92,95,96,97,98,99,100,101,102) have mixed types. Specify dtype option on import or set low_memory=False.
  df=pd.read_csv(r'/home/mathi/Downloads/Players.csv')

,ID,NAME,COUNTRY,Full name,Born,Died,Current age,Major teams,Education,Height,...,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
0,8772,Henry Arkell,England,Henry John Denham Arkell,"\nJune 26, 1898, Edmonton, Middlesex","March 12, 1982, Oxford (aged 83 years 259 days)",NaN,Northamptonshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,532565,Richard Nyren,England,Richard Nyren,"\nApril 25, 1734, Eartham, Sussex","April 25, 1797, Lee or Leigh, Kent (aged 63 ye...",NaN,Hampshire XI,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,16856,Sydney Maartensz,England,Sydney Gratien Adair Maartensz,"\nApril 14, 1882, Colombo, Ceylon","September 10, 1967, Pyrford, Woking, Surrey (a...",NaN,Hampshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,16715,Brian Lander,England,Brian Richard Lander,"\nJanuary 9, 1942, Bishop Auckland, Co Durham",NaN,77 years 73 days,"['Durham,', 'Minor Counties']",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,15989,Derek Kenderdine,England,Derek Charles Kenderdine,"\nOctober 28, 1897, Chislehurst, Kent","August 28, 1947, Cambridge (aged 49 years 304 ...",NaN,Royal Navy,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16166,Rupert Kitzinger,England,Rupert Charles Kitzinger,"\nMarch 24, 1979, Chertsey, Surrey",NaN,39 years 364 days,"['Dorset,', 'Marylebone Cricket Club']","Royal Grammar School, Guildford and Durham Uni...",\n6 ft 8 in,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1151914,Megan Lovick,England,Megan Lovick,"\nJuly 17, 1999",NaN,19 years 249 days,Charlbury Women CC,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,515901,Sophie Luff,England,Sophie Natasha Luff,"\nDecember 6, 1993, Taunton, Somerset",NaN,25 years 107 days,"['Emeralds,', 'England Academy Women,', 'Engla...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,17673,Derek Morgan,England,Derek Clifton Morgan,"\nFebruary 26, 1929, Muswell Hill, Middlesex",NaN,90 years 25 days,Derbyshire,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,1152184,Molly Rossiter,England,Molly Beatrice Rossiter,"\nJanuary 21, 2003",NaN,16 years 61 days,"['Leicestershire Women,', 'Sileby Town Ladies ...",NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [3]:
df.describe()

,ID,Nickname,BATTING_Tests_Mat,BATTING_ODIs_Mat,BATTING_T20Is_Mat,BATTING_First-class_Mat,BATTING_List A_Mat,BATTING_T20s_Mat,BOWLING_Tests_Mat,BOWLING_ODIs_Mat,BOWLING_T20Is_Mat,BOWLING_First-class_Mat,BOWLING_List A_Mat,BOWLING_T20s_Mat
count,9.030800e+04,0.0,3652.000000,3656.000000,2151.000000,45630.00000,19731.000000,7428.000000,3652.000000,3656.000000,2151.000000,45630.00000,19731.000000,7428.000000
mean,3.463182e+05,NaN,15.000000,31.732495,13.915388,28.63787,30.161979,23.109989,15.000000,31.732495,13.915388,28.63787,30.161979,23.109989
std,3.974984e+05,NaN,23.069388,51.219568,18.478279,66.03333,60.428983,40.128381,23.069388,51.219568,18.478279,66.03333,60.428983,40.128381
min,3.931000e+03,NaN,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000,1.000000,1.000000,1.000000,1.00000,1.000000,1.000000
25%,2.851175e+04,NaN,2.000000,4.000000,3.000000,2.00000,2.000000,3.000000,2.000000,4.000000,3.000000,2.00000,2.000000,3.000000
50%,5.336650e+04,NaN,6.000000,12.000000,6.000000,6.00000,7.000000,7.000000,6.000000,12.000000,6.000000,6.00000,7.000000,7.000000
75%,5.960022e+05,NaN,17.000000,36.000000,17.000000,23.00000,27.000000,24.000000,17.000000,36.000000,17.000000,23.00000,27.000000,24.000000
max,1.178645e+06,NaN,200.000000,463.000000,111.000000,1110.00000,651.000000,459.000000,200.000000,463.000000,111.000000,1110.00000,651.000000,459.000000

In [4]:
df.drop_duplicates(inplace=True)
print(df.shape)
df.size

(90308, 181)

16345748

In [5]:
df['NAME'].dtype
df.loc[2,'NAME']
df.iloc[2,1]

'Sydney Maartensz'

In [6]:
df['NAME']=df['NAME'].str.strip()
df['NAME'].str.title()
df['COUNTRY']=df['COUNTRY'].str.strip()
df['COUNTRY']=df['COUNTRY'].str.title()

In [7]:
df.drop(columns=['Education','Height','Playing role','Nickname'],inplace=True)

In [8]:
df['Born']=df['Born'].str.strip('\n ')

In [9]:
df=df[df['Died'].isna()]
df.insert(loc=4,column='Status',value='')

In [10]:
df.rename(columns={'Current age':'Age'},inplace=True)

df['Age']=df['Age'].apply(lambda x : str(x))
df

,ID,NAME,COUNTRY,Full name,Status,Born,Died,Age,Major teams,Batting style,...,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
3,16715,Brian Lander,England,Brian Richard Lander,,"January 9, 1942, Bishop Auckland, Co Durham",NaN,77 years 73 days,"['Durham,', 'Minor Counties']",Right-hand bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,16166,Rupert Kitzinger,England,Rupert Charles Kitzinger,,"March 24, 1979, Chertsey, Surrey",NaN,39 years 364 days,"['Dorset,', 'Marylebone Cricket Club']",Right-hand bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,1151914,Megan Lovick,England,Megan Lovick,,"July 17, 1999",NaN,19 years 249 days,Charlbury Women CC,Right-hand bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
7,515901,Sophie Luff,England,Sophie Natasha Luff,,"December 6, 1993, Taunton, Somerset",NaN,25 years 107 days,"['Emeralds,', 'England Academy Women,', 'Engla...",Right-hand bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8,17673,Derek Morgan,England,Derek Clifton Morgan,,"February 26, 1929, Muswell Hill, Middlesex",NaN,90 years 25 days,Derbyshire,Right-hand bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
90299,53005,Hemraj Sackichand,West Indies,Hemraj Sackichand,,"November 4, 1962, No 19 Village (Kendalls), Ea...",NaN,56 years 140 days,Berbice,Right-hand bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90300,578111,Kimara Sabaroche,West Indies,Kimara Shaida Sabaroche,,"December 13, 1992",NaN,26 years 101 days,Dominica Women,Right-hand bat,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90301,52000,G Grant,West Indies,G Grant,,date unknown,NaN,nan,Trinidad & Tobago,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90303,19777,Keith Robinson,England,Keith Robinson,,"December 17, 1933, Thirsk, Yorkshire",NaN,85 years 97 days,Combined Services,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
90307,565677,H Clewitt,England,H Clewitt,,date unknown,NaN,nan,Lincolnshire,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df['Died']=df['Died'].apply(lambda x : str(x))
df['Died'].dtype
df['Died']=df['Died'].str.strip('')
df['Born']=df['Born'].str.strip('')
df['Age'].dtype
df.head(10)
df['Age'].dtype
for i in df.index:
    x=df.loc[i,'Age']
    df.loc[i,'Age']=x[:2]

In [12]:
for i in df.index:
    if df.loc[i,'Age']=='na':
        df.loc[i,'Status']='Unknown'
        df.loc[i,'Age']=''
    else:
        df.loc[i,'Status']='Alive'

In [13]:
df.drop(columns=['Born','Died'],inplace=True)

In [15]:
print(df['Batting style'].isnull().sum())
df['Bowling style'].isnull().sum()

27413

36746

In [16]:
df['Batting style']=df['Batting style'].fillna(df['Batting style'].mode()[0])
df['Bowling style']=df['Bowling style'].fillna(df['Bowling style'].mode()[0])

In [17]:
df['Batting style'].isnull().sum()
df['Bowling style'].isnull().sum()

0

In [18]:
df.drop(columns=['Other','Relation','In a nutshell','DESCRIPTION','AWARDS'],inplace=True)

In [19]:
pd.set_option('display.max.columns',100)
df.columns.get_loc('BOWLING_Tests_Mat')

93

In [20]:
df.drop(df.columns[54:93],axis=1,inplace=True)

In [21]:
df['NAME'].isnull().sum()

2

In [22]:
df['NAME']=df['NAME'].str.title()

In [23]:
df.sort_values(by='NAME',ascending=True,inplace=True)
df.dropna(subset='NAME',inplace=True)

In [24]:
df['Age'].replace('',np.nan,inplace=True)

/tmp/ipykernel_2758/3420489106.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df['Age'].replace('',np.nan,inplace=True)

In [25]:
df['Age']=pd.to_numeric(df['Age'],errors='coerce')

In [26]:
df=df[df['Age']<42]

In [27]:
df.shape

(31088, 132)

In [28]:
df['Age']=df['Age'].astype('int')
df

/tmp/ipykernel_2758/4240702531.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Age']=df['Age'].astype('int')

,ID,NAME,COUNTRY,Full name,Status,Age,Major teams,Batting style,Bowling style,BATTING_Tests_Mat,BATTING_Tests_Inns,BATTING_Tests_NO,BATTING_Tests_Runs,BATTING_Tests_HS,BATTING_Tests_Ave,BATTING_Tests_BF,BATTING_Tests_SR,BATTING_Tests_100,BATTING_Tests_50,BATTING_Tests_4s,BATTING_Tests_6s,BATTING_Tests_Ct,BATTING_Tests_St,BATTING_ODIs_Mat,BATTING_ODIs_Inns,BATTING_ODIs_NO,BATTING_ODIs_Runs,BATTING_ODIs_HS,BATTING_ODIs_Ave,BATTING_ODIs_BF,BATTING_ODIs_SR,BATTING_ODIs_100,BATTING_ODIs_50,BATTING_ODIs_4s,BATTING_ODIs_6s,BATTING_ODIs_Ct,BATTING_ODIs_St,BATTING_T20Is_Mat,BATTING_T20Is_Inns,BATTING_T20Is_NO,BATTING_T20Is_Runs,BATTING_T20Is_HS,BATTING_T20Is_Ave,BATTING_T20Is_BF,BATTING_T20Is_SR,BATTING_T20Is_100,BATTING_T20Is_50,BATTING_T20Is_4s,BATTING_T20Is_6s,BATTING_T20Is_Ct,...,BOWLING_T20Is_Balls,BOWLING_T20Is_Runs,BOWLING_T20Is_Wkts,BOWLING_T20Is_BBI,BOWLING_T20Is_BBM,BOWLING_T20Is_Ave,BOWLING_T20Is_Econ,BOWLING_T20Is_SR,BOWLING_T20Is_4w,BOWLING_T20Is_5w,BOWLING_T20Is_10,BOWLING_First-class_Mat,BOWLING_First-class_Inns,BOWLING_First-class_Balls,BOWLING_First-class_Runs,BOWLING_First-class_Wkts,BOWLING_First-class_BBI,BOWLING_First-class_BBM,BOWLING_First-class_Ave,BOWLING_First-class_Econ,BOWLING_First-class_SR,BOWLING_First-class_4w,BOWLING_First-class_5w,BOWLING_First-class_10,BOWLING_List A_Mat,BOWLING_List A_Inns,BOWLING_List A_Balls,BOWLING_List A_Runs,BOWLING_List A_Wkts,BOWLING_List A_BBI,BOWLING_List A_BBM,BOWLING_List A_Ave,BOWLING_List A_Econ,BOWLING_List A_SR,BOWLING_List A_4w,BOWLING_List A_5w,BOWLING_List A_10,BOWLING_T20s_Mat,BOWLING_T20s_Inns,BOWLING_T20s_Balls,BOWLING_T20s_Runs,BOWLING_T20s_Wkts,BOWLING_T20s_BBI,BOWLING_T20s_BBM,BOWLING_T20s_Ave,BOWLING_T20s_Econ,BOWLING_T20s_SR,BOWLING_T20s_4w,BOWLING_T20s_5w,BOWLING_T20s_10
58480,14319,'Thos' Hunt,England,Thomas Hunt,Alive,37,"['Middlesex,', 'Middlesex Cricket Board']",Left-hand bat,Right-arm fast-medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,526,409,9,3/43,NaN,45.44,4.66,58.4,0,0,0,5.0,NaN,158,158,2,1/24,1/24,79.00,6.00,79.0,0,0,0,3.0,2,24,45,0,-,-,-,11.25,-,0,0,0
28363,26185,A Agarwal,India,Aditya Agarwal,Alive,40,Hyderabad (India),Right-hand bat,Right-arm medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28342,26377,A Aggarwal,India,Ankit Aggarwal,Alive,35,Himachal Pradesh Under-19s,Right-hand bat,Legbreak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,30,30,0,-,-,-,6.00,-,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
28101,960935,A Akshaya,India,A Akshaya,Alive,20,Kerala Women,Right-hand bat,Right-arm offbreak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
47316,684567,A Anjali,Sri Lanka,Kananke Gamage Amasha Anjali,Alive,24,Colts Cricket Club Women,Right-hand bat,Right-arm medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12,43860,Zulqarnain Haider,Pakistan,Zulqarnain Haider,Alive,32,"['Pakistan,', 'Pakistan Telecommunication Comp...",Right-hand bat,Right-arm medium,1.0,2,0,88,88,44.00,201,43.78,0,1,15,0,2.0,0.0,4.0,4,2,48,19*,24.00,68,70.58,0,0,3,0,1.0,1.0,3.0,3,0,23,17,7.66,30,76.66,0,0,1,0,0.0,...,-,-,-,-,-,-,-,-,-,-,-,102.0,NaN,24,26,0,-,-,-,6.50,-,0,0,0,69.0,-,-,-,-,-,-,-,-,-,-,-,-,19.0,-,-,-,-,-,-,-,-,-,-,-,-
93,1046641,Zulqarnain Haider,Spain,Zulqarnain Haider,Alive,30,Spain,Right-hand bat,Right-arm medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
20,1050037,Zumika Azmi,Malaysia,Zumika Azmi,Alive,20,Malaysia Women,Right-hand bat,Right-arm offbreak,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11.0,10,4,44,17*,7.33,91,48.35,0,0,2,0,2.0,...,144,160,3,1/5,1/5,53.33,6.66,48.0,0,0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
85618,948495,Zwane Simenulankla,South Africa,Zwane Simenulankla,Alive,18,Easterns Under-15s,Right-hand bat,Right-arm medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
83607,486653,Zwelo Ntsimbini,South Africa,Zwelo Ntsimbini,Alive,26,Easterns Under-19s,Right-hand bat,Right-arm medium,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,17.0,-,-,-,-,-,-,-,-,-,-,-,-,14.0,-,-,-,-,-,-,-,-,-,-,-,-,1.0,-,-,-,-,-,-,-,-,-,-,-,-

In [31]:
start=df.columns.get_loc('BOWLING_First-class_Mat')
end=df.columns.get_loc('BOWLING_List A_10')
df.drop(df.columns[start:end],axis=1,inplace=True)

/tmp/ipykernel_2758/1765893142.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df.columns[start:end],axis=1,inplace=True)

In [33]:
df1=df[df[['BATTING_Tests_Mat','BATTING_ODIs_Mat','BATTING_T20Is_Mat','BOWLING_T20Is_Mat','BOWLING_ODIs_Mat','BOWLING_Tests_Mat']].isnull().all(axis=1)].index
df.drop(df1,inplace=True)

/tmp/ipykernel_2758/3306603306.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(df1,inplace=True)

In [34]:
df.iloc[:,9:]=df.iloc[:,9:].apply(lambda x:pd.to_numeric(x,errors='coerce').fillna(0).astype(int))

In [35]:
df['BATTING_Tests_Mat']=pd.to_numeric(df['BATTING_Tests_Mat'],errors='coerce')

/tmp/ipykernel_2758/1759905245.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BATTING_Tests_Mat']=pd.to_numeric(df['BATTING_Tests_Mat'],errors='coerce')

In [36]:
df['BATTING_Tests_Mat']=df['BATTING_Tests_Mat'].astype(int)

/tmp/ipykernel_2758/1423239981.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['BATTING_Tests_Mat']=df['BATTING_Tests_Mat'].astype(int)

In [37]:
df.drop(columns='BOWLING_List A_10',inplace=True)

/tmp/ipykernel_2758/2579596329.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='BOWLING_List A_10',inplace=True)

In [39]:
df.rename(columns={'COUNTRY':'Country'},inplace=True)

/tmp/ipykernel_2758/3210091449.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'COUNTRY':'Country'},inplace=True)

In [40]:
df.drop(columns='Full name',inplace=True)

/tmp/ipykernel_2758/392643800.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='Full name',inplace=True)

In [41]:
df.drop(columns='Major teams',inplace=True)

/tmp/ipykernel_2758/2840845141.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop(columns='Major teams',inplace=True)

In [42]:
df.rename(columns={'NAME':'Name'},inplace=True)

/tmp/ipykernel_2758/1609013300.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.rename(columns={'NAME':'Name'},inplace=True)

In [235]:
df.to_csv('cleaned_cricket.csv')